.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

/* .cart-container{
    background-color: #FF9900;
    padding-left: 10px;
} */

.product-container{
    margin: 100px 82px 0 104px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:45px
    
}

/* media quary */

@media only screen and (max-width: 576px) {
    .shop-container{
        grid-template-columns: 1fr 1fr;
    }
    .product-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin: 30px 22px 0 32px;
    }
}